<%- include("Header") -%>
<link rel="stylesheet" href="/css/styles.css">

<div class="blogContainer">
    <p class="postHeaders">About us</p>
    <hr width="100%">
    <p class="postContent">This blog website is a project done by a student to try and practice the usage of ejs with express and i hope whoever visits this website to 
        like it and share his opinions with me on what are I should work on myself to become a better developer.
    </p>
</div>

<%- include("Footer") -%>