<%- include("Header") -%>
<link rel="stylesheet" href="/css/styles.css">
<div class="blogContainer">
    <p class="postHeaders"><%= post.header %></p>
    <hr width="100%">
    <p class="postContent"><%= post.text%></p>
</div>

<%- include("Footer") -%>
