<%- include("Header") -%>
<link rel="stylesheet" href="/css/styles.css">

  <form class="composeForm" action="/compose" method="post">
    <div id="inputContainer">
        <h1 id="composePageHeader">Compose</h1>
        <hr class="composeHr" width="60%">


        <input type="text" name="blogHeader" class="blogHeader" placeholder="Post header" >

        <textarea  name="blogText" class="blogText" placeholder="Post content"></textarea>
    </div>
    <div id="composeBtnContainer">
        <button id="composeBtn" type="submit" class="btn btn-primary btn-lg">Submit</button>
    
    </div>
  </form>


  
  

<%- include("Footer") -%>