<%- include("Header") -%>
  <form action="/compose" method="post">
    <div id="inputContainer">
        <input type="text" name="blogHeader" id="blogHeader" value="Test Header" autofocus>
        <textarea  name="blogText" id="blogText" value=""></textarea>
    </div>
    <div id="composeBtnContainer">
        <button id="composeBtn" type="submit" class="btn btn-primary btn-lg">Submit</button>
    
    </div>
  </form>


  
  

<%- include("Footer") -%>