<%- include("Header") -%>
<link rel="stylesheet" href="/css/styles.css">
<form action="/" method="post">
    <div class="blogs">
        <% for(var i=0 ; i<posts.length ; i++){%>
            <div class="blogContainer">
                <p class="postHeaders"><%= posts[i].header %></p>
                <hr width="100%">
                <p class="postContent"><%= posts[i].text%></p>
                <hr width="100%">
            </div>
        
            <%}%>
    </div>

</form>



 
  
  

<%- include("Footer") -%>